#mapCanvas {position:absolute; top:50px; right:0; left:350px; bottom:0; background:#666;}
#sidebar {position:absolute; top:50px; left:0; bottom:0; width:350px; overflow:auto; background:#999; box-shadow:0 0 0 #000; border-right:2px solid #fff;}
#sidebar li {height:50px; padding:5px; background:-webkit-gradient(linear, 100% 0%, 0% 100%, from(#A1A1A1), to(#E6E6E6)); border-top:1px solid #fff; border-bottom:1px solid #999;}
#sidebar h2 {font-size:18px; color:#333; text-shadow:1px 1px 0px #fff;}
#sidebar h3 {font-size:10px; color:#999;}
#sidebar li:hover {background:#E6E6E6;}
#sidebar li:hover h2 {color:green;}

.popupWindow h1 a {color:#333; text-decoration:none;}
.popupWindow h1 a:hover {color:#999;}
.popupWindow .owner {font-style:italic; display:block; margin:5px 0;}
.popupWindow .tag {background:#b0ffb8 url('/tag.png') no-repeat left -3px; padding:0px 5px 0px 15px;}
.popupWindow .fundingRec,
.popupWindow .fundingNeed {display:block;}
.popupWindow .money {font-size:20px; color:#999;}
.popupWindow .readMore {padding:3px; font-size:13px; background:#333; color:#fff; text-decoration:none;}
.popupWindow .readMore:hover {background:#999;}
