* {margin:0; padding:0;}
body {font-family:"Helvetica", Verdana, sans-serif;}
#header {width:100%; height:50px; background:#333;}
#mapCanvas {position:absolute; top:50px; right:0; left:350px; bottom:0; background:#666;}
#sidebar {position:absolute; top:50px; left:0; bottom:0; width:350px; overflow:auto; background:#999; box-shadow:0 0 0 #000; border-right:2px solid #fff;}
#sidebar li {height:50px; padding:5px; background:-webkit-gradient(linear, 100% 0%, 0% 100%, from(#A1A1A1), to(#E6E6E6)); border-top:1px solid #fff; border-bottom:1px solid #999;}
#sidebar h2 {font-size:18px; color:#333; text-shadow:1px 1px 0px #fff;}
#sidebar h3 {font-size:10px; color:#999;}
#nav{display: -webkit-box; -webkit-box-orient:horizontal; border:2px solid #ff6600; -webkit-border-radius:6px;}

nav a{
    font-family:sans-serif;
    display:block;
    color:black;
    padding:10px;
     -webkit-box-flex:1;
    text-align:center;
    -webkit-transition:all .4s linear;
}

nav a:hover{
    color:red;
}

p{
    margin-top:20px;
}
