<!doctype html>
<html>
<head>

  <title>Green the Planet</title>

  <link href="/style.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/project.css" media="screen" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

</head>
<body>


<div id="header">
<nav id="nav">
  <img src="/navbarlogo.png" alt="Green the Planet Now!" />
	  <a href="#">Community</a>
	  <a href="">Conservation</a>
	  <a href="">Inventions</a>
	  <a href="">Media</a>
	  <a href="">Create</a>
	</nav>
</div>

<div id="project">

  <div id="callout">
    <iframe src="http://player.vimeo.com/video/{{videoId}}?title=0&amp;byline=0&amp;portrait=0" width="600" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

    <h1>{{ProjectName}} <span>by {{OwnerName}}</span></h1>
    <div class="description">
      {{{Description}}}
    </div>
  </div>

  <div id="sidebar">
    <span class="title">Total Funding Received to Date</span>
    <span class="money">{{FundingReceived}}</span>
    <span class="title">Remaining Goal to be Funded</span>
    <span class="money">{{FundingNeeded}}</span>

    <img src="/{{flower}}" />
    <a id="donate" href="">Donate Now</a>
  </div>
</div>

<script type="text/javascript" src="/jquery-1.7.min.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-299924-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>


