<!doctype html>
<html>
<head>

  <title>Green the Planet</title>

  <link href="/map.css" media="screen" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

</head>
<body>



<h1>{{ProjectName}} <span>by {{OwnerName}}</span></h1>
<span>Amount Needed {{FundingNeeded}}</span>
<span>Amount Raised {{FundingReceived}}</span>

<iframe src="http://player.vimeo.com/video/{{videoId}}?title=0&amp;byline=0&amp;portrait=0" width="400" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

{{AddedTimestamp}}
<br />{{DateCampaignEnds}}
<br />{{DateCampaignStarts}}
<br />{{Description}}
<br />{{FundingNeeded}}
<br />{{FundingReceived}}
<br />{{OwnerEmail}}
<br />{{OwnerName}}
<br />{{OwnerPhoto}}
<br />{{Project Category}}
<br />{{ProjectImage}}
<br />{{ProjectLatitude}}
<br />{{ProjectLongitude}}
<br />{{ProjectName}}
<br />{{ProjectSite}}
<br />{{ProjectVideo}}

<script type="text/javascript" src="/jquery-1.7.min.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-299924-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>


